create external table ${table_name} (
  start_time bigint,
  elapsed_time int,
  protocol string,
  client_address string,
  client_port int,
  server_address string,
  server_port int,
  proxy_address string,
  proxy_port int,
  proxy_source_address string,
  proxy_source_port int,
  client_bytes_received bigint,
  client_bytes_sent bigint,
  server_bytes_received bigint,
  server_bytes_sent bigint,
  service_view string,
  policy_name string,
  policy_conditions string,
  policy_actions string,
  policy_lists string,
  policy_lists_matched string,
  annotations map<string, string>,
  beacon_url string,
  request_version float,
  request_method string,
  request_host string,
  request_path string,
  request_core_domains int,
  request_headers map<string, string>,
  request_ua string,
  response_version float,
  response_status_code int,
  response_headers map<string, string>,
  flags array<string>,
  meta_timestamp int,
  meta_engine_type string,
  meta_engine_version string,
  meta_node_id string,
  ssl_version_major int,
  ssl_version_minor int,
  ssl_server_names array<string>,
  ssl_core_domains array<int>,
  client_cc string,
  client_region string,
  client_city string,
  client_asnum string,
  client_asname string,
  tld string,
  parent_policies array<string>,
  data_version string
)
partitioned by (
  subscriber string,
  year int,
  month int,
  day int,
  hour int
)
stored as parquet
location 's3://${s3_bucket}/'
;
